<script>
	$(document).ready(function() {
		var keys = [];

		for (var key in localStorage) {
			keys.push(key);
		}

		var reviews = keys.map(key => JSON.parse(localStorage.getItem(key)));

		reviews.forEach(review => {
			$('#' + review.id).html('<h3>' + review.title + '</h3>');
		});

	});



</script>
	<h1 class=text-center> View All Review </h1>

	<% @reviews.each do |review| %>
		<% if review.movie_id.present? %>
		    <script>
		    var movieInfo=localStorage.getItem(<%=review.movie_id%>);
		    var movieData = JSON.parse(movieInfo);

		    localStorage.getItem(<%=review.movie_id%>);
		    console.log(movieData);
		   $(".title").append(movieData.original_title);
		    </script>


	<div class="container">
	<div class="row">
	<div class="white-box col-md-6">
		<p class="title text-center" id=<%= review.movie_id %> > </p>
		
		<p> Rating:	<%=review.humanized_rating%> </p>
		<p> Review:	<%=review.comment%> </p>
		<p> Movie id: <%=review.movie_id %> </p>

		</div>
	</div>
</div>
<% end %> 	
<% end %> 