<!DOCTYPE html>
<html>
  <head>
    <title>MovieRater</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="container">
      <ul class=' movie-list pull-right'>
        <% if user_signed_in? %>
          <li> <%=link_to 'Home', root_path %> </li> |
          <li> <%=link_to 'Reviews', reviews_path%> </li> |
          <li> <%=link_to 'Sign out', destroy_user_session_path, method: :delete %> </li>
         <% else %>
          <li> <%=link_to 'Sign in', new_user_session_path %> </li>
          <li> <%=link_to 'Sign up', new_user_registration_path %> </li>
         <% end %>       
      </ul>

       <h1 class='pull-left'> <%= link_to "Movie Rater", root_path %> </h1>

       <br />
       <br />
       <br />
       
       
          
     </div>
          

    <%= yield %>
  </body>
</html>
